CONTROLTOWER_ENV_FILE=/etc/controltower/controltower.env
CONTROLTOWER_APP_ROOT=/srv/controltower/app
CONTROLTOWER_VENV_ROOT=/srv/controltower/venv
PYTHON_BIN=/srv/controltower/venv/bin/python
CONTROLTOWER_BOOTSTRAP_PYTHON=python3
CONTROLTOWER_CONFIG=/etc/controltower/controltower.yaml
CONTROLTOWER_RUNTIME_ROOT=/srv/controltower/shared/.controltower_runtime
CONTROLTOWER_PUBLIC_BASE_URL=https://controltower.bratek.io
CONTROLTOWER_DOMAIN=controltower.bratek.io
CODEX_AUTH_MODE=prod
CODEX_AUTH_SESSION_SECRET=change-me
CODEX_AUTH_USERNAME=operator
CODEX_AUTH_PASSWORD=change-me
CONTROLTOWER_PORT=8787
CONTROLTOWER_TLS_CERTIFICATE=/etc/letsencrypt/live/controltower.bratek.io/fullchain.pem
CONTROLTOWER_TLS_CERTIFICATE_KEY=/etc/letsencrypt/live/controltower.bratek.io/privkey.pem
CONTROLTOWER_TLS_OPTIONS_INCLUDE=/etc/letsencrypt/options-ssl-nginx.conf
CONTROLTOWER_TLS_DHPARAM=/etc/letsencrypt/ssl-dhparams.pem
CONTROLTOWER_SERVICE_NAME=controltower-web
CONTROLTOWER_SERVICE_USER=deploy
CONTROLTOWER_SERVICE_GROUP=deploy
CONTROLTOWER_CRON_USER=deploy
CONTROLTOWER_DAILY_CRON="30 5 * * 1-5"
CONTROLTOWER_WEEKLY_CRON="0 6 * * 6"
CONTROLTOWER_NGINX_SITE_AVAILABLE_DIR=/etc/nginx/sites-available
CONTROLTOWER_NGINX_SITE_ENABLED_DIR=/etc/nginx/sites-enabled
